fastapi==0.115.12
uvicorn[standard]==0.34.2
gunicorn>=23,<24
sqlalchemy==2.0.41
alembic>=1.15,<2
psycopg[binary]>=3.2,<4
celery[redis]>=5.4,<6
pydantic-settings==2.9.1
python-multipart==0.0.20
docker==7.1.0
email-validator==2.2.0
PyYAML==6.0.2
PyJWT[crypto]>=2.10,<3
